@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family:
      Pretendard,
      'Pretendard Variable',
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      Roboto,
      'Helvetica Neue',
      'Segoe UI',
      'Apple SD Gothic Neo',
      'Noto Sans KR',
      'Malgun Gothic',
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      sans-serif;
  }
}

@layer components {
  .custom__scrollbar::-webkit-scrollbar {
    @apply w-[6px] bg-grayscale-200 rounded-3xl;
  }
  .custom__scrollbar::-webkit-scrollbar-thumb {
    @apply bg-grayscale-800 rounded-3xl;
  }
  .custom__scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-grayscale-600;
  }
  .modal__center {
    @apply z-50  fixed top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%];
  }
}
